In [142]:
import pandas as pd

In [192]:

def top_5_runs():
    df = pd.read_csv("datasets/batting_summary.csv")
    temp_df = pd.DataFrame(df.groupby('Team_Innings')['Runs'].sum())
    temp_df.sort_values('Runs',ascending=False,inplace=True)
    return temp_df.head()

In [194]:
df = pd.read_csv("datasets/batting_summary.csv")
df = df.groupby(['Team_Innings','Batsman_Name'],as_index=False).agg({'Team_Innings':'first','Runs':'sum'})
df = df[df['Team_Innings'] == '{}'.format('Australia')].drop('Team_Innings',axis=1).reset_index(drop=True)
df

          Batsman_Name  Runs
0           Adam Zampa    59
1           Alex Carey     0
2        Cameron Green    63
3         David Warner   577
4        Glenn Maxwell   404
5       Josh Hazlewood     6
6          Josh Inglis   192
7       Marcus Stoinis    92
8   Marnus Labuschagne   426
9       Mitchell Marsh   448
10      Mitchell Starc   130
11         Pat Cummins   164
12         Steve Smith   351
13         Travis Head   391